<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./../_head-tags.ejs") %>
		<title>Create Article | Lonely Corner</title>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<%- include("./../_header.ejs") %>
		<h1>Create Articles</h1>
		<form action="/articles" method="POST">
			<label>Title</label>
			<input
				value="<%= article.title  %>"
				required
				name="title"
				id="title"
				type="text"
			/>
			<label>Description</label>
			<textarea name="description" id="description" cols="30" rows="10">
<%= article.description  %></textarea
			>
			<label>Category</label>
			<input
				value="<%= article.category %>"
				name="category"
				id="category"
				type="text"
			/>
			<label>Image URL</label>
			<input
				value="<%= article.image  %>"
				name="image"
				id="image"
				type="text"
			/>
			<label>Article</label>
			<textarea required name="article" id="article" cols="30" rows="10">
<%= article.article  %></textarea
			>

			<a href="/articles">Cancel</a>
			<button type="submit">Save</button>
		</form>
	</body>
</html>
