<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./../_head-tags.ejs") %>
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<%- include("./../_header.ejs") %>
		<div class="articles-page">
			<div class="container">
				<div class="articles__article-amount-container">
					<span class="articles__article-amount">
						<%= articles.length %> blog articles found
					</span>
				</div>
				<div class="articles__grid-container">
					<% articles.forEach(article => { %>
					<article class="articles__article-card">
						<div class="article-card__image-container">
							<img
								class="article-card__image"
								src="<%= article.image %>"
								onerror="this.src='https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg'"
							/>
						</div>
						<div class="article-card__info-container">
							<span class="article-card__tags">
								<% if (article.category.trim().length > 0) { %> 
									<%= article.category.trim() %> ·
								<% } %> 
								<%=article.timestamp.toDateString() %>
							</span>
							<h2 class="article-card__title"><%= article.title.trim() %></h2>
							<p class="article-card__description">
								<% if (article.description.trim().length > 0) { %> 
									<%= article.description.trim() %> 
								<% } else { %> 
									<%= article.article.trim() %> 
								<% } %>
							</p>
							<a
								class="article-card__link"
								href="/articles/<%= article.id %>"
								>Read More</a
							>
						</div>

						<!-- <p>image is <%= article.image %></p>
						<a href="/articles/<%= article.id %>">Read More</a>
						<a href="/articles/edit/<%= article.id %> ">Edit</a>
						<form
							method="POST"
							action="/articles/<%= article.id %>?_method=DELETE"
						>
							<button type="submit">Delete</button>
						</form> -->
					</article>
					<% }) %>
				</div>
			</div>
		</div>
	</body>
</html>
