<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lonely Planet</title>
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<%- include("./../_header.ejs") %>
		<a href="articles/create">Create new</a>
		<div>
			<p><%= articles.length %></p>
			<% articles.forEach(article => { %>
			<div>
				<h1><%= article.title %></h1>
				<p><%= article.description %></p>
				<p><%= article.timestamp.toDateString() %></p>
				<p><%= article.category %></p>
				<p>image is <%= article.image %></p>
				<a href="/articles/<%= article.id %>">Read More</a>
				<a href="/articles/edit/<%= article.id %> ">Edit</a>
				<form
					method="POST"
					action="/articles/<%= article.id %>?_method=DELETE"
				>
					<button type="submit">Delete</button>
				</form>
			</div>
			<% }) %>
		</div>
	</body>
</html>
