<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./../_head-tags.ejs") %>
		<title><%= title %> | Lonely Corner</title>
		<link rel="stylesheet" href="/css/read-more.css" />
	</head>
	<body>
		<%- include("./../_header.ejs") %>
		<div class="readmore-page">
			<div class="readmore__cover-image-container">
				<img
					class="readmore__cover-image"
					src="<%= article.image %>"
					onerror="this.src='https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg'"
				/>
				<div class="fade"></div>
			</div>
			<div class="container">
				<div class="readmore__article-text-container">
					<div class="article-text__top">
						<a class="backtoall-link" href="/articles"
							>Back to articles</a
						>
						<div class="article-text__titlebutton-container">
							<h1 class="article-text__title"><%= article.title.trim() %></h1>
							<div class="article-text__button-container">
								<button class="edit-btn">
									<a href="/articles/edit/<%= article.id %> ">Edit</a>
								</button>
								<form
									method="POST"
									action="/articles/<%= article.id %>?_method=DELETE"
								>
									<button class="delete-btn" type="submit">
										Delete
									</button>
								</form>
							</div>
						</div>
						<div class="tags">
							<% if (article.category.trim().length > 0) { %> 
								<span><%= article.category.trim() %></span>
							<% } %> 	
							•
							<span>
								Written on <%= article.timestamp.toDateString() %>
							</span>
							<% if (article.edited) { %> •
							<span>
								Last Edited on <%= article.lastEdited.toDateString() %>
							</span>
							<% } %>
						</div>
					</div>
					<div class="article-text__divider"></div>
					<div class="article-text__article">
						<p><%= article.article.trim() %></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
